<h2 mat-dialog-title>{{ train.trainNumber }} - {{ train.trainName }}</h2>
<div mat-dialog-content>
  <b>Set Speed</b>
  <form #form="ngForm">
    <div mat-form-field>
      <input [hidden]="true" name="trainID" [(ngModel)]="train.trainID">
      <input matInput placeholder="Speed" name="speed"
            [ngModel]="train.speed | number: '1.0-0'"
             (ngModelChange)="train.speed=$event" required />
    </div>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="!form.valid" [mat-dialog-close]="form.value">Set</button>
</div>
