<h2 mat-dialog-title>Enter Train Details</h2>
<div mat-dialog-content>
  <form #form="ngForm">
    <div mat-form-field>
      <input matInput placeholder="Train Number" name="trainNumber" ngModel required>
    </div>
    <div mat-form-field>
      <input matInput placeholder="Train Name" name="trainName" ngModel required>
    </div>
    <div mat-form-field>
      <input matInput placeholder="Speed" name="speed" ngModel required>
    </div>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="!form.valid" [mat-dialog-close]="form.value">Start</button>
</div>
